.sidebar {
    flex: 1;
    border-right: 1px solid #004209;
    background-color: white;

    .search {
        border-bottom: 1px solid gray;

        .searchForm {
            padding: 10px;

            input {
                background-color: #f0f2f5;
                border: none;
                color: black;
                border-radius: 3px;
                padding: 10px;
                font-size: 19px;
                max-width: 300px;
                &:focus {
                    outline: none;
                }
                &::placeholder {
                    font-size: 17px;
                }
            }
            button {
                background-color: #f0f2f5;
                border: none;
                margin-left: 30px;
                padding: 8px;
                border-radius: 10px;
                font-weight: 700;
                color: #16ad2a;
                cursor: pointer;

                &:hover {
                    color: #f0f2f5;
                    background-color: #16ad2a;
                    transition: .25s ease-in-out;
                }
            }
        }
    }
}
